# Python bytecode
*.py[cod]
__pycache__/
*.egg-info/

# Distribution
dist/

# Testing
.pytest_cache/

# Python version
.python-version

# Virtual environment
.venv/

# Rope
.ropeproject/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# IntelliJ / PyCharm
.idea/

# macOS
.DS_Store

# Claude
.claude/
